*{
  box-sizing: border-box;
}
.container{
  display: flex;
  box-shadow: 0 0 20px;
  border-radius: 10px;
  max-width: 980px;
  margin-top: 40px;
  margin-left: 20px;
}
.box{
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  padding: 50px;
  flex: 0 0 250px;
  margin-right: 30px;
  background-color: rgb(74, 74, 160);
}
.box2{
  box-shadow: 0 0 20px;
  border-radius: 10px;
  padding: 50px;
  flex: 1 1 0px;
}
.container2{
  box-shadow: 0 0 20px;
  flex-wrap: wrap;
  display: flex;
  margin-top: 40px;
}
.header{
  box-shadow: 0 0 20px;
  border-radius: 10px;
  background-color: brown;
  margin-top: 40px;
  padding: 50px;
}
.allbox{
  display: flex;
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
}
.box3{
  margin-right: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}
.box4{
  margin-left: 10px;
  background-color: blue;
  border-radius: 10px;
}
.box5{
  margin-left: 10px;
  background-color: aqua;
  margin-right: 50px;
  border-radius: 10px;
}

.header2{
  background-color: brown;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.container3{
  box-shadow: 0 0 20px;
  padding: 100px;
  margin-top: 40px;
}
.st1{
  display: flex;
}
#box{
  box-shadow: 0 0 20px;
}
#box2{
  box-shadow: 0 0 20px;
}
.container4{
  padding: 100px;
  box-shadow: 0 0 20px;
}
.header3{
  box-shadow: 0 0 20px;
  padding: 50px;
  border-radius: 10px;
}
.content{
  display: flex;
  box-shadow: 0 0 20px;
  margin-top: 40px;
}
.nav{
  box-shadow: 0 0 20px;
  margin-right: 30px;
  margin-top: 40px;
  border-radius: 10px;
}
.nav li{
  list-style-type: none;
}
.block{
  box-shadow: 0 0 20px;
  display: flex;
  margin-top: 40px;
  border-radius: 10px;
}
.block1{
  box-shadow: 0 0 20px;
  margin-right: 10px;
  border-radius: 10px;
}
.block2{
  box-shadow: 0 0 20px;
  margin-right: 10px;
  border-radius: 10px;
}
.block3{
  box-shadow: 0 0 20px;
  border-radius: 10px;
}